<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="script.js" defer></script>
    <title>InsiderScraper v1</title>
    <link rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav-logo">
            <h1><a href="/index.html">InsiderScraper v1</a></h1>
        </div>
        <ul class="nav-menu">
            <li><a href="/main.html">OpenInsider</a></li>
            <li><a href="/main.html">Finviz</a></li>
            <li><a href="/main.html">About</a></li>
        </ul>
    </header>
    <div class="display-title">
          <h2>Ticker: {{ticker}}</h2>
          <h4>Today: {{currentDate}}</h4>
    </div>
    <h3>OpenInsider</h3>
    <h4>Filing Date: {{filingDate}}</h4>
        <div class="table-container"> 
            <table class="table"> 
                <tr> 
                    <th>Dates</th>
                </tr> 
                {% for days in range(daysSince) %}
                <tr>
                    <td class="Dates">{{days}}</td>
                </tr>
                {% endfor %}
            </table>
            <table class="table"> 
                <tr> 
                    <th>% Change</th> 
                </tr>
                <!-- {% for ticker in tickers %} -->
                <tr> 
                    <td class="Change">tick</td>  
                </tr>
                <!-- {% endfor %} -->
            </table> 
        </div> 
</body>
</html>